  <md-content>

   <md-card-header flex="none" layout='column' layout-margin layout-align="space-between end" >
     <md-card-header-text class='md-display-2'>{{calc}}
       <span ng-if="calc===''">0</span>
     </md-card-header-text>
     <md-card-header-text class='md-display-1'>{{result}}
      <span ng-if="result===''" >0</span>
    </md-card-header-text>
  </md-card-header>

  <div ng-repeat="rows in calcButtons" layout='row' layout-align="start start">
    <md-button ng-repeat="button in rows.row" ng-click=button.func(button.content) flex="25" class={{button.buttonClass}}>{{button.content}}</md-button>
  </div>
</md-content>

